/doc/*.docx
/doc/*.doc
/doc/*.emf
/doc/*.png
/doc/*.jpg
/doc/*.jpeg
/doc/*.tif
/doc/*.gif
/doc/*.cdr
/doc/*.pdf
/doc/*.dxf
/doc/*.dwg
/doc/*.cpt
/doc/Images/*.docx
/doc/Images/*.doc
/doc/Images/*.emf
/doc/Images/*.png
/doc/Images/*.jpg
/doc/Images/*.jpeg
/doc/Images/*.tif
/doc/Images/*.gif
/doc/Images/*.cdr
/doc/Images/*.pdf
/doc/Images/*.dxf
/doc/Images/*.dwg
/doc/Images/*.cpt
/Pictures/svg/*.eps
/*.bat
/*.ps
/*.dvi
/*.bcf
/*.aux
/*.xml
/*.log
/*.out
/*.7z
/*.zip
/*.gz

